html, #body {
  background-color: #eee;
}

#body {
  position: relative; // required for proper footer behaviour
  padding: 0;
  padding-bottom: 60px;

  @media (min-width: 576px) {
    header nav {border-radius: 10px 10px 0 0}
  }

  > div {
    @media (min-width: 576px) {
      border-radius: 10px 10px 0 0;
      box-shadow: rgba(0,0,0,0.3) 0 0 20px;
    }
  }
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 20px;
    font-style: italic;
}

.youtube_row {
    margin-bottom: 20px;
}
