include /modules/head.pug
include /modules/header.pug
include /modules/footer.pug

doctype html
html(lang='en')
  +head
  body#body.container.pt-sm-4
    .bg-white
      +header('en', 'home')
      +body
      +footer