mixin body
  .container.text-center.pt-3(style='flex:1')
    h3.mt-4!= sd(t.welcome)
    img.img-fluid.mb-4(src="/assets/logosmall.png")
    p!= sd(t.intro['1'])
    // p This website was made for people interested in #[a(href='/wiki/projectm/') Project M], the premier Super Smash Bros. Brawl modification.
    p!= sd(t.intro['2'])
    a.btn.btn-primary.btn-lg.mt-4(href='/guides/')!= t.intro.guidebutton

include modules/main.pug