- var here = 'home'
- var uri = '/'

mixin body
  .container.text-center.pt-3(style='flex:1')
    h3.mt-4!= sd(t.welcome)
    img.img-fluid.mb-4(src="/assets/logosmall.png")
    p!= sd(t.intro['1'])
    p!= sd(t.intro['2'])
    a.btn.btn-primary.btn-lg.mt-4(href= lpath + '/guides/')!= t.intro.guidebutton

include /modules/main.pug