- var here = 'finder'
- var uri = '/guides/finder/'
- var title = 'Guide Finder'
- var addcss = '/guides/guide.css'
- var addjs = ['/guides/guide.js', uri + 'cards.js']

mixin body
  #pagecontent.p-3(style='flex:1')
    .w-100
      a(href= lpath + uri) ← Go back to start
      #guide-window.card
        .card-body
          #pages-container
            #start
              h5#card-title UNCHANGED Start - Finding the right guide for you
              p.card-text What region is your Wii from?
              label.radio-input(for="ui-1")
                input(type="radio" id="ui-1" value="ntsc-u" name="#start")
                | NTSC-U (USA and some others)
              br
              label.radio-input(for="ui-2")
                input(type="radio" id="ui-2" value="pal-k-j" name="#start")
                | PAL (Europe, Australia and South America) or NTSC-K (Korea)
              br
              label.radio-input(for="ui-3")
                input(type="radio" id="ui-3" value="idk" name="#start")
                | I don't know / How can i find out the region?
              br
          a#prevPageButton.btn.btn-primary(href="#page-1" onclick="prevPageButton.load()") Previous
          a#nextPageButton.btn.btn-primary.float-right.disabled(href="#page-3" onclick="nextPageButton.load()") Next

          - var tPlain = JSON.stringify(t.cards)
          script
            | const lcode = '#{lcode}';
            | const c = JSON.parse(`!{tPlain}`);

include /modules/main.pug