include /modules/head.pug
include /modules/header.pug
include /modules/footer.pug

doctype html
html(lang=lcode)
  +head
  body#body.container.pt-sm-4
    .bg-white
      +header(th, here)
      +body
      +footer(tf)