include /modules/head.pug
include /modules/header.pug
include /modules/footer.pug

doctype html
html(lang=lcode)
  +head(title, addcss)
  body#body.container.pt-sm-4
    .bg-white
      +header(th, here, uri)
      .text-center
        h3.p-3.pb-1(style="color: red") This website is not finished yet. Do not use for softmodding your Wii or installing Project M. Please do not report broken links or other issues yet.
      +body
      +footer(tf, addjs)